@model IEnumerable<IntervManut.Models.TipoTec>

@{
    ViewData["Title"] = "Index";
}

<p>
    <a class="btn btn-outline-primary" asp-action="Create">Adicionar</a>
</p>
<table class="table table-hover">
    <thead>
        <tr class="bg-secondary">
            <th>
                #
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Tipo)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.TipoTecId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Tipo)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.TipoTecId"><i class="fa fa-edit"></i></a> |
                <a asp-action="Details" asp-route-id="@item.TipoTecId"><i class="fa fa-list"></i></a> |
                <a asp-action="Delete" asp-route-id="@item.TipoTecId"><i class="fa fa-trash"></i></a>
            </td>
        </tr>
        }
    </tbody>
</table>
