@model IntervManut.Models.Tecnico

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Tecnico</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Nome)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Nome)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Empresa)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Empresa)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TipoTec)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TipoTec.TipoTecId)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.TecnicoId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
